/*Nav bar code heavily informed by https://stackoverflow.com/questions/74877881/collapsible-side-menu-with-css-flexbox*/
element {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #222a30;
    font-family: Arial, Helvetica, sans-serif;
}
    
* {
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
    vertical-align: center;
    align-items: center;
    
    a {
        text-decoration: none;
    }

    :link {
        color: #dddbff;
    }

    :visited {
        color: #dddbff;
    }

    :hover {
        color: #ed215b;
    }

    h1 {
        padding-left: .5em;
        padding-right: .5em;
        transform: translateX(-.5em);
        vertical-align: center;
        align-self: center;
        /*margin: 0;
        margin-top: .4em;*/
        width: fit-content;
        background-color: #222a30;
        border-radius: 30px;
        /*transform: translateY(-1vw);
        transform: translateX(-1vw);*/
    }

}

.pageTitle {
    font-size: 20pt;
    color: #dddbff;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-wrap: nowrap;
    width: min-content;
    transform: translateX(-40%);

    h1 {
        padding: 0px;
        margin: 0px;
        padding-top: .3em;
    }
}

nav {
    justify-self: right;
    grid-row: 1 / 5;
    grid-column: 4 / 5;
    /*
    display: flex;
    flex-flow: row-reverse;
    gap: 1rem;*/
    color: black;

    background-color: #dddbff;
    width: 0px;
    transition: width 300ms;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        padding-top: 1em;
    }

    a {
        text-decoration: none;
    }

} 

#navObjects {
    position: fixed;
    font-weight: bold;
    font-size: 14pt;
    padding-top: 1.5em;
    overflow-x: hidden;
    overflow-y: hidden;    
    li {
        padding-top: .4em;
        padding-bottom: .4em;
        padding-left: 1.5em;
        padding-right: 2em;
    }
    
    .navSpacer {
        width: 100%;
        max-height: 1px;
        border-bottom: 1px solid #222a30;
    }

    :link {
        color: #222a30;
    }

    :visited {
        color: #8240c4;
    }

    a:hover {
        color: #ed215b;
    }
}

main {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    min-height: 80vh;

    /*border: 1px solid lightgray;*/

}

footer {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    text-align: center;

}

@property --conicEdge {
    syntax: '<angle>';
    initial-value: 360deg;
    inherits: false;
}

#wrapper {
    display: grid;
    grid-template-columns: 20% 60% 5% 15%;
    /*grid-template-rows: auto auto auto auto;*/
    grid-template-rows: 10vh 5vh max-content 5vh;
    /*background: conic-gradient(from 45deg, #443dff, rgba(237, 33, 91, 0));*/
    /*animation: homeLandingTest 3s both linear;
    */
    /*
    background: conic-gradient(rgba(34, 42 , 48, 1) 0deg, rgba(34, 42 , 48, .5) 180deg);
    --conicEdge: 360deg;
    transition: --conicEdge 3s;
    :hover {
        --conicEdge: .001deg;
    }*/
}

#mainHomeWrapper {
    max-height: 80vh;
}

#logoCover {
    position: relative;
    z-index: 98;
    width: 100%;
    height: 80vh;
    
    animation: homeLanding 3s both 2s linear;
}
#homeLogo {
    position: absolute;
    justify-self: center;
    top: 15vh;
    left: 22.5vw;
    max-height: 80vh;
    max-width: 60vw;
    /*animation: endlessSpin 10s infinite 5s linear; source image needs to be centered on pivot*/
    animation: idleBounce 6s both alternate infinite 5s ease-in-out;
}


#navText {
    transition: all 300ms;
}
body:has(.menubutton > input:checked) #navText {
    transform: translateX(-11vw);
}

@keyframes endlessSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes idleBounce {
    from { transform: scale(90%); }
    to { transform: scale(100%); }
}
@keyframes homeLanding {
    /*
    0% { background: conic-gradient(rgba(34, 42 , 48, 100), rgba(34, 42 , 48, 100) 360deg); }
    99% { background: conic-gradient(rgba(34, 42 , 48, 100), rgba(34, 42 , 48, 0) 1deg); }
    100% { background: none }*/
    /*
    from { background: conic-gradient(rgba(34, 42 , 48, 1), rgba(34, 42 , 48, 1)); }
    to { background: conic-gradient(rgba(34, 42 , 48, 1) 0deg, rgba(34, 42 , 48, 0) .001deg); }*/
    /*from { background: conic-gradient(rgba(34, 42 , 48, 1), rgba(34, 42 , 48, 1)); }
    to { background: conic-gradient(rgba(34, 42 , 48, 1), rgba(34, 42 , 48, 0)); }*/
    /*
    from { background: rgba(34, 42 , 48, 1); }
    to { background: rgba(34, 42 , 48, 0); }
    */
    /*
    from { background: conic-gradient(rgba(34, 42 , 48, 1), rgba(34, 42 , 48, 1)); }
    to { background: conic-gradient(rgba(34, 42 , 48, 1), rgba(34, 42 , 48, 0)); }
    */
    0% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 1.0) 100%); }
    1% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.99) 99%); }
    2% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.98) 98%); }
    3% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.97) 97%); }
    4% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.96) 96%); }
    5% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.95) 95%); }
    6% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.94) 94%); }
    7% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.93) 93%); }
    8% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.92) 92%); }
    9% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.91) 91%); }
    10% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.9) 90%); }
    11% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.89) 89%); }
    12% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.88) 88%); }
    13% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.87) 87%); }
    14% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.86) 86%); }
    15% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.85) 85%); }
    16% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.84) 84%); }
    17% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.83) 83%); }
    18% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.82) 82%); }
    19% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.81) 81%); }
    20% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.8) 80%); }
    21% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.79) 79%); }
    22% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.78) 78%); }
    23% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.77) 77%); }
    24% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.76) 76%); }
    25% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.75) 75%); }
    26% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.74) 74%); }
    27% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.73) 73%); }
    28% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.72) 72%); }
    29% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.71) 71%); }
    30% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.7) 70%); }
    31% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.69) 69%); }
    32% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.68) 68%); }
    33% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.67) 67%); }
    34% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.65) 66%); }
    35% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.65) 65%); }
    36% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.64) 64%); }
    37% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.63) 63%); }
    38% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.62) 62%); }
    39% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.61) 61%); }
    40% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.6) 60%); }
    41% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.59) 59%); }
    42% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.58) 58%); }
    43% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.57) 57%); }
    44% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.56) 56%); }
    45% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.55) 55%); }
    46% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.54) 54%); }
    47% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.53) 53%); }
    48% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.52) 52%); }
    49% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.51) 51%); }
    50% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.5) 50%); }
    51% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.49) 49%); }
    52% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.48) 48%); }
    53% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.47) 47%); }
    54% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.46) 46%); }
    55% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.44) 45%); }
    56% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.43) 44%); }
    57% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.43) 43%); }
    58% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.42) 42%); }
    59% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.41) 41%); }
    60% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.4) 40%); }
    61% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.39) 39%); }
    62% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.38) 38%); }
    63% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.37) 37%); }
    64% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.36) 36%); }
    65% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.35) 35%); }
    66% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.34) 34%); }
    67% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.32) 33%); }
    68% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.31) 32%); }
    69% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.31) 31%); }
    70% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.3) 30%); }
    71% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.29) 29%); }
    72% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.28) 28%); }
    73% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.27) 27%); }
    74% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.26) 26%); }
    75% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.25) 25%); }
    76% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.24) 24%); }
    77% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.23) 23%); }
    78% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.21) 22%); }
    79% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.2) 21%); }
    80% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.19) 20%); }
    81% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.18) 19%); }
    82% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.18) 18%); }
    83% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.17) 17%); }
    84% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.16) 16%); }
    85% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.15) 15%); }
    86% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.14) 14%); }
    87% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.13) 13%); }
    88% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.12) 12%); }
    89% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.1) 11%); }
    90% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.09) 10%); }
    91% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.08) 9%); }
    92% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.07) 8%); }
    93% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.06) 7%); }
    94% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.06) 6%); }
    95% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.05) 5%); }
    96% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.04) 4%); }
    97% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.03) 3%); }
    98% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.02) 2%); }
    99% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.01) 1%); }
    100% { background: conic-gradient(at center, rgba(34, 42 , 48, 1.00) 0%, rgba(34, 42 , 48, 0.0) 0%); }
}

#copyContent {
    position: fixed;
    bottom: 0vh;
    max-width: 15vw;
    font-size: 10pt;
    justify-self: right;
    transition: width 300ms;
    text-align: center;
    align-self:self-end;
    padding-bottom: 1em;
    overflow-x: hidden;
    margin-left: .5em;
    margin-right: .5em;
}

.menubutton {
    position: fixed;
    z-index: 99;
    top: 0;

    display: flex;
    flex-direction: row;

    grid-row: 1 / 2;
    grid-column: 4 / 5;

    padding-right: 1em;
    color: white;
    justify-self: end;
    text-align: right;
    padding-top: 1.5em;
    
    p {
        color: #dddbff;
        font-size: 16pt;
        align-self: center;
        padding: 0;
        margin: 0;
        transform: translateY(-.18vh);
    }
}

.menubutton>input {
    display: none;
}
  
.menubutton>input:checked+label .not-active {
    display: none;
}
  
.menubutton>input:not(:checked)+label .active {
    display: none;
}
    
body:has(.menubutton > input:checked) nav {
    width: 100%;
}

body:has(.menubutton > input:checked) #copyContent {
    width: 100%;
}

.fa-bars {
    color: #dddbff;
}

.fa-xmark {
    color: #222a30;
}

.pdf {
    width: 100%;
    height: 100%;
}

#skillsContainer {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: auto auto auto;
    :hover {
        background-color: rgba(130, 64, 196, 0.5);
    }
}

.devDiv {
    aspect-ratio: 1 / 1;
    text-align: center;
    pointer-events:visible; 
    border-radius: 15px;
    margin-top: 10px;   
    
    h5 {
        pointer-events: none;
        padding: 0px;
        margin: 0px;
        color: #dddbff;
        padding-bottom: 5%;
        
    }

    #maxMSP {
        padding: 10px;
        margin: 0px;
        object-fit: fill;
    }

    
}
.devicon {
    width: 150px;
    height: 150px;
    justify-self: center;
    padding-bottom: 5%;
    padding-top: 10%;
    pointer-events: none;
    /*
    padding-left: 2.5%
    padding-right: 2.5%;*/

}

.textSectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        width: 10vw;
        height: 1px;
        border-bottom: 2px solid #dddbff; 
    }
    h3 {
        font-size: 32pt;
        padding-left: 2vw;
        padding-right: 2vw;
        color: #443dff;
    }
}

#aboutPortrait {
    grid-row: 1 / 6;
    grid-column: 7 / 11;

    #busPortrait {
        max-width: 100%;
        object-fit: contain;
        border-radius: 30px;
    }
}

.generalTextContainer {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw;
    h3 {
        font-size: 32pt; 
        align-self: center;
        margin: 0px;
        padding: 0px;
    }
}

#greeting {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    color: #ed215b;

}

#introName {
    font-size: 40pt;
    color: #443dff;
    grid-row: 3 / 4;
    grid-column: 3 / 6;
}

.introBlockText {
    /*white-space-collapse: preserve-breaks;*/
    font-size: 16pt;
    color:#dddbff;
}

#iBTP1 {
    grid-row: 4 / 6;
    grid-column: 1 / 7;
    padding-left: 3vw;
    padding-right: 3vw;

}

#aboutLogo {
    grid-row: 7 / 11;
    grid-column: 1 / 5;

    #polyLogo {
        max-width: 100%;
        object-fit: contain;
        border-radius: 30px;
    }
}

#iBTP2 {
    
    grid-row: 7 / 11;
    grid-column: 5 / 11;
    padding-left: 3vw;
    padding-right: 3vw;

    :link {
        color: #443dff;
    }

    :visited {
        color: #8240c4;
    }

    :hover {
        color: #ed215b;
    }

}

.projectWrapper {
    display: inline-block;
    color:#dddbff;
    margin-bottom: 5vh;
    width: 100%;
    height: min-content;
    p {
        font-size: 14pt;
    }
    h2 {
        margin: 0;
        padding: 0;
    }
}

.projectMedia {
    width: 30vw;
    max-width: 30vw;
    max-height: 20vw;
    object-fit: contain;
    float: right;
    
}

#projectMedia {
    margin-left: 1em;
    margin-bottom: 1em;
}






@supports not (display: grid) {
    /*Nav bar code heavily informed by https://stackoverflow.com/questions/74877881/collapsible-side-menu-with-css-flexbox*/
    element {
        overflow-x: hidden;
    }

    body {
        margin: 0;
        /*background-color: #222a30;*/
        background-color: red; /*CODE: remove for final*/
        font-family: Arial, Helvetica, sans-serif;
    }
        
    * {
        box-sizing: border-box;
    }

    header {
        padding-left: 20%;

        a {
            text-decoration: none;
        }

        :link {
            color: #dddbff;
        }

        :visited {
            color: #dddbff;
        }

        :hover {
            color: #ed215b;
        }
    }
    
    nav {
        display: flex;
        flex-flow: row-reverse;
        width: 100%;
        gap: 1rem;
        color: black;
        ul {
            list-style-type: none;
        }
        a {
            text-decoration: none;
        }

        :link {
            color: #dddbff;
        }

        :visited {
            color: #dddbff;
        }

        a:hover {
            color: #ed215b;
        }
    } 

    main {
        height: fit-content;
    }

    .menubutton {
        offset-anchor: right center;
        padding-right: 1em;
        color: white;
        justify-self: end;
        text-align: right;
        align-items: center;
    }

    #menuTextLabel {
        display: inline-block;    
        padding-right: .6em;
        align-self: center;
    }

    .menubutton>input {
        display: none;
    }
    
    .menubutton>input:checked+label .not-active {
        display: none;
    }
    
    .menubutton>input:not(:checked)+label .active {
        display: none;
    }
    
    .container {
        display: flex;
        width: 100%;
        height: fit-content;
    }
    
    .container-left {
        border: 1px solid lightgray;
        height: fit-content;
        flex-grow: 1;
        padding: 0.5rem 0.5rem;
    }

    .container-right {
        background-color: plum;
        height: fit-content;
        width: 0px;
        transition: width 300ms;
    }
        
    body:has(.menubutton > input:checked) .container-right {
        width: 15%;
        padding: 0.5rem 0.5rem;
    }

    .nav-contents {
        /*display: none;*/
        /*text-indent: 10rem;
        transition: all 300ms;*/
        animation-duration: 300ms;
        animation-timing-function: linear;
        animation-direction: reverse;
        animation-name: navOpen;
    }

    body:has(.menubutton > input:checked) .nav-contents {
        /*display: block;*/
        /*text-indent: 0px;*/
        animation: 1s forward slideIn;
    }


    #topWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        white-space: nowrap;
        align-items: center;
        justify-content: space-between;

    }
    
    @keyframes slideIn {
        0% {transform: translate(50vw);}
        100% {transform: translate(0vw);}
    }
}